[submodule "quickcheck"]
	path = quickcheck
	url = https://github.com/chocolate-doom/quickcheck.git
[submodule "APCpp"]
	path = APCpp
	url = https://github.com/Daivuk/APCpp
[submodule "onut"]
	path = onut
	url = https://github.com/the-pink-hacker/onut.git
